* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  background-color: #fafffd;
  min-height: 100vh;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  nav {
    background-color: #fff;
    padding: 5px 10px;
    font-family: "Montserrat", sans-serif;
  }

  main {
    height: 100%;
    display: grid;
    grid-template-columns: 400px 1fr;
    .sidebar {
      height: 100%;
      padding: 25px;
      overflow: hidden;
      background-color: #fafffd;
      z-index: 100;
      border-right: 1px solid rgba($color: #000000, $alpha: 0.2);
      .intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .avatar {
          margin-bottom: 20px;
          width: 200px;
          // filter: 1px 1px 10px rgba($color: #000000, $alpha: 0.6);
          filter: drop-shadow(5px 5px 30px rgba($color: #3c91e6, $alpha: 0.1));
        }
        .name {
          font-family: "Montserrat", sans-serif;
          font-size: 1.2rem;
          font-weight: 600;
          color: #2f3e46;
          span {
            color: #9d9d9d;
          }
        }
      }
      .details {
        max-width: 350px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: #f0f0f0;
        padding: 10px 20px;
        border: 1px solid rgba($color: #000, $alpha: 0.1);
        box-shadow: 1px 1px 15px rgba($color: #000000, $alpha: 0.2);
        border-radius: 10px;
        margin: 30px auto 0 auto;
        .detail {
          padding: 5px 0;
          display: flex;
          // align-items: center;
          gap: 10px;
          b {
            font-family: "Lato", sans-serif;
            font-weight: 500;
            letter-spacing: 1px;
            font-size: 0.9rem;
          }
        }
      }
      .reach-out {
        h3 {
          font-family: "Montserrat", sans-serif;
          font-weight: 400;
          text-align: center;
        }
        .socials {
          margin: 30px 0;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          a {
            text-decoration: none;
            svg {
              transform-origin: top;
              transform: scale(2);
              color: #2f3e46;
            }
          }
        }
      }
    }
    section {
      padding: 25px;
      height: 100%;
      z-index: -1;
      > h3 {
        font-family: "Poppins";
        font-weight: 500;
        font-size: 1.7rem;
        margin-bottom: 10px;
      }
      > div {
        font-family: "Poppins", sans-serif;
        font-size: 1.1rem;
        font-weight: 400;
        color: #2f3e46;
        margin-bottom: 30px;

        .name-line {
          font-size: 1.2rem;
          display: block;
          color: #000;
          font-weight: 500;
        }

        .education-detail {
          display: block;
          margin-bottom: 10px;
        }

        .skills {
          margin: 10px 0 20px 0;

          .skill {
            list-style-type: none;
            &::before {
              content: "-  ";
            }
          }
        }
      }
    }
  }
}
hr {
  background-color: rgba($color: #000000, $alpha: 0.2);
  margin: 30px auto;
}

@media only screen and (max-width: 900px) {
  html {
    font-size: 14px;
  }
  .container {
    main {
      display: flex !important;
      flex-direction: column !important;
      .sidebar {
        flex: 1;
      }
    }
  }
}
