* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: #fafffd;
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
}

.container nav {
  background-color: #fff;
  padding: 5px 10px;
  font-family: "Montserrat", sans-serif;
}

.container main {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 400px 1fr;
      grid-template-columns: 400px 1fr;
}

.container main .sidebar {
  height: 100%;
  padding: 25px;
  overflow: hidden;
  background-color: #fafffd;
  z-index: 100;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.container main .sidebar .intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container main .sidebar .intro .avatar {
  margin-bottom: 20px;
  width: 200px;
  -webkit-filter: drop-shadow(5px 5px 30px rgba(60, 145, 230, 0.1));
          filter: drop-shadow(5px 5px 30px rgba(60, 145, 230, 0.1));
}

.container main .sidebar .intro .name {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  color: #2f3e46;
}

.container main .sidebar .intro .name span {
  color: #9d9d9d;
}

.container main .sidebar .details {
  max-width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #f0f0f0;
  padding: 10px 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 30px auto 0 auto;
}

.container main .sidebar .details .detail {
  padding: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.container main .sidebar .details .detail b {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 0.9rem;
}

.container main .sidebar .reach-out h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-align: center;
}

.container main .sidebar .reach-out .socials {
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.container main .sidebar .reach-out .socials a {
  text-decoration: none;
}

.container main .sidebar .reach-out .socials a svg {
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: scale(2);
          transform: scale(2);
  color: #2f3e46;
}

.container main section {
  padding: 25px;
  height: 100%;
  z-index: -1;
}

.container main section > h3 {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.7rem;
  margin-bottom: 10px;
}

.container main section > div {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  color: #2f3e46;
  margin-bottom: 30px;
}

.container main section > div .name-line {
  font-size: 1.2rem;
  display: block;
  color: #000;
  font-weight: 500;
}

.container main section > div .education-detail {
  display: block;
  margin-bottom: 10px;
}

.container main section > div .skills {
  margin: 10px 0 20px 0;
}

.container main section > div .skills .skill {
  list-style-type: none;
}

.container main section > div .skills .skill::before {
  content: "-  ";
}

hr {
  background-color: rgba(0, 0, 0, 0.2);
  margin: 30px auto;
}

@media only screen and (max-width: 900px) {
  html {
    font-size: 14px;
  }
  .container main {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .container main .sidebar {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}
/*# sourceMappingURL=style.css.map */