.navbar {
  background-color: #3a2a46;
  padding: 2rem 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbarLogo {
  .first,
  .second {
    width: 4rem;
    height: 4rem;
    border-radius: 0.5rem;
    display: inline-block;
  }
  .first {
    transform: translateX(0);
    background-color: #a147f4;
    animation: first 6s 1;
    animation-fill-mode: forwards;
    box-shadow: 1px 1px 5px rgba($color: #ffffff, $alpha: 0.2);
  }
  .second {
    transform: translateX(92vw);
    background-color: #bea0d3;
    animation: second 6s 1;
    animation-fill-mode: forwards;
    box-shadow: 1px 1px 5px rgba($color: #000000, $alpha: 0.2);
  }
}
@keyframes first {
  from {
    transform: translateX(0) rotate(0);
  }
  50% {
    transform: translateX(46.5vw) rotate(1215deg);
  }
  to {
    transform: translateX(0) rotate(1215deg);
  }
}

@keyframes second {
  from {
    transform: translateX(92vw) rotate(0deg);
  }
  50% {
    transform: translateX(46vw) rotate(-1215deg);
  }
  to {
    transform: translate(0vw) rotate(-1215deg);
  }
}
.navbarNav {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 5rem;

  .navItem {
    opacity: 0;
    transition: 0.3s;
    animation: appear 1s 1;
    animation-fill-mode: forwards;
    font-size: 2rem;
    color: #bea0d3;
    cursor: pointer;

    &:hover {
      color: #fff;
    }

    &:nth-child(1) {
      animation-delay: 3.2s;
    }
    &:nth-child(2) {
      animation-delay: 3.4s;
    }
    &:nth-child(3) {
      animation-delay: 3.6s;
    }
    &:nth-child(4) {
      animation-delay: 3.8s;
    }
    &:nth-child(5) {
      animation-delay: 4s;
    }
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
