.skillsPage {
  .pageTitle {
    font-size: 3rem;
    color: #fff;
    text-align: center;
  }

  .skillsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    padding: 1rem;
    margin: 0 auto;

    > * {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // gap: 2rem;
      padding: 4rem 0;
      background-color: #3a2a46;
      transition: transform 0.4s;
      * {
        text-align: center;
      }
      &:hover {
        // transform: scale(0.98);
        .skillIcon {
          opacity: 1;
        }
      }
      &:nth-child(3) {
        grid-column: 2/4;
        grid-row: 1/3;
      }
      &:nth-child(8) {
        grid-column: 3/5;
        grid-row: 3/5;
      }
      &:nth-child(9) {
        grid-row: 5/7;
        grid-column: 1/3;
      }
      .skillIcon {
        font-size: 15rem;
        opacity: 0.8;
      }
      .skillTitle {
        margin-top: 2rem;
        color: #dfbdff;
        font-size: 4rem;
        text-align: center;
      }
    }
  }
}
