.homepage {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
  //   align-items: center;
  padding-left: 15rem;

  color: #fff;
  > h1 {
    color: #bea0d3;
    font-size: 3rem;
    line-height: 6rem;
  }

  > p {
    font-size: 1.8rem;
    max-width: 40ch;
    line-height: 3rem;
  }
}

.right {
  padding: 13rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.big {
  font-size: 5rem;
}
.mark {
  color: #fff;
}

.underline {
  border-bottom: 3px dashed #bea0d3;
  margin: 0 1rem;
  padding: 0 0 0.6rem;
}

.hireMeBtn {
  cursor: pointer;
  width: fit-content;
  padding: 1rem 3rem;
  font-size: 2rem;
  background-color: #a147f4;
  color: #fff;
  border-radius: 0.6rem;
  border: none;
  outline: none;
  transition: 0.3s;
  &:hover {
    opacity: 0.8;
  }
}
