html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  background-color: #201925;
}

html {
  font-size: 62.5%;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

*::-webkit-scrollbar {
  width: 0.6rem;
}

*::-webkit-scrollbar:hover {
  width: 1rem;
}

*::-webkit-scrollbar-track {
  background-color: #3a2a46;
}

*::-webkit-scrollbar-thumb {
  background-color: #bea0d3b7;
  border-radius: 1rem;
}
